<!DOCTYPE html>
<html>
  <head>
    <title>RestTester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>THIS IS BEFORE YIELD</p>
    <%= yield %>
    <p>This is AFTER yield</p>
  </body>
</html>
